.MenuToggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(10, 189, 55);
    transition: opacity, left .22s ease-in;
    z-index: 100;
}

.MenuToggle:hover {
    opacity: .7;
}

.MenuToggle.open {
    left: 520px;
}